
#dartboardapp ::selection { background: transparent; /* WebKit/Blink Browsers */}
#dartboardapp ::-moz-selection { background: transparent; /* Gecko Browsers */}
.PlayerZone{ font-family: "dart"; cursor:pointer; }
#header .form-group{ margin-bottom:0; margin-top:15px;}